<div id="Lang">
    <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select >
            <mat-option value="en_US">
                English
            </mat-option>
            <mat-option value="fr_FR">
                French
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div id="menu">
    <ul class="menu">
        <li>
            <a>
                <mat-icon class="leftIcon">home</mat-icon> Home
            </a>
        </li>
        <li>
            <a>
                <mat-icon class="leftIcon">flight</mat-icon> Flights
            </a>
        </li>
        <li>
            <a>
                <mat-icon class="leftIcon">bookmark</mat-icon> Synthesis
            </a>
        </li>
        
        <li>
            <a>
                <mat-icon class="leftIcon"> contacts</mat-icon> Contact
            </a>
        </li>
        <li>
            <a>
                <mat-icon class="leftIcon">help</mat-icon> Help
            </a>
        </li>
        <li>
            <a>
                <mat-icon class="leftIcon">power_settings_new</mat-icon> Logout
            </a>
        </li>
    </ul>
</div>