fieldset#search{
    background: #f1f1f1;
    border: 0 none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.inline {
display:flex;
}
.left{
    display:flex;
    float: left;
    margin-right: 133px;
}
.right{
    display:flex;
   float: left;
}

#search #buttonBar .firstRight{
	width:auto;
	float:right;
	margin-left:2px;
	text-align:left;
}

#search #buttonBar .nextRight {
	width:auto;
	margin-right:20px;
	float:right;
	text-align:left;
}

#mainMargin {
	margin-left:125px;
}

#main{
	width: 100%;
    float: left;
    text-align: left;
    margin-left: -97px;
}

.menu {
    overflow: hidden;
    background: #3f51b5;
    font-size: 16px;
    max-width: 167px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -38px;
}

.menu a:hover {
    background: #336EFF;
}

.leftIcon{
    margin-right: 9px;
}

#mainContainer {
    float: left;
    margin: 0;
    width: 100%;
    display: flex;
}

.menu a {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding-left: 15px;
}

table {
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
